body{
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: chartreuse;
    width: 100%;
}

form{
    margin-left: 50px;
}
.wrapper{
    margin-left: 80px; 
    margin-top: 10px; 
    float: left; 
    width: 78%; 
    margin-bottom:10px; 
    min-height: 600px;
    
    
}

/*Edição do menu superior*/    
#menuSuperior{
    margin-left: 20px;
}
a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}
/*fim da area de edição de menu*/

/*Edição Janela Galao*/  
#galao{
    width: 80%;
    float: left;
    background-color: yellowgreen;
}
/*fim da area de edição da janela Galao*/

/*Edição Janela modal*/    
#mask {
  position:absolute;
  background-color:#000;
  display:none;
  top:0;
  left:0;
  width: 1366px;
  height: 318px;
  display: none;
  opacity: 0.8;
}
  
.boxes .window {
    position:absolute;
    width:90%;
    height: 380px;
    overflow: auto;
    overflow-style: scrollbar;
    background-color: #ffffff;
    display:none;
    z-index:1;
    padding-top: 20px;

}
/*fim da area de edição da janela modal*/

/*Edição Janela login*/  
#div_login{
    text-align: center;
    width: 20%;
    margin-left: 40%;
    margin-top: 200px; 
}

#botao_logar{
    margin-top: 20px;
    width: 80%;
}

#label_login
{
    background-color: #ffffff;
    font-size: 24px;
}
/*fim da area de edição da pagina Login*/

/*Edição Janela cadastra Cliente*/ 
.Label_estado{
    margin-left: 235px;
}

.input_estado{
    margin-left: 30px;
    width: 60px;
}

.input_numero{
    margin-left: 10px;
    width: 60px;
}

.input_cidade{
    width: 250px;
}

.sectionGalao{
    width: 25%;
    float: left;
}

.endParte1{
    width: 50%;
    float: left;
}

.endParte2{
    width: 50%;
    min-height: 204px;
    float: left;
}
.complemento{
    width: 345px;
}
/*fim da area de edição da pagina Cadastra Cliente */

/*Edição janela de cupon de vendas */ 
.table-cupom{
    width: 330px;
}
/*fim da area de edição da pagina de cupon de vendas  */


/*Edição janela de cadastro de vendas */ 
#conteudoProduto{
    width: 100%;
    background: lawngreen;
}
#tabelaVendaProduto{
    width: 100%;
    min-height: 150px;
}
#cabTabelaVenda{
    width: 100%;
    background: #ccc;
     
}
/*fim da area de edição da pagina de cadastro de vendas  */